.navbar-default {
	background-color: white;
}

.navbar-nav {
	margin-top: 2em;

}

.navbar-default .navbar-nav li a {
	color: black;
	font-weight: bold;
	font-size: 1em;
}

#bottomNav {
	padding: 0px;
	text-align: center;
	margin: auto;
}

#topNav {
	padding: 0px;
	text-align: center;
	margin: auto;
}

.navbar-header {
	margin-left: -1.2em;
}

.carousel-inner {
	max-width: 100%;
	height: auto;
}

.row		{
	padding-top: 1.5em;
}

.well		{
	background-color: white;
	height: auto;
	color: black;
}
h2, h1			{
	text-align: center;
}

body 		{
	margin: 0 1em;
}

.imgC 			{
	width: 60%;
	text-align: center;
	margin-left: 20%;
	height: auto;
}
#h 			{
	width: 100%;
	text-align: center;
	margin: auto;
}

.footer 		{
	background-color: #333;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

#revolution	{
	height: 100%;
	width: 80%;
	margin: auto;
}

#seekers 	{
	height: 100%;
	width: 80%;
	margin: auto;
}

#companies	{
	height: 100%;
	width: 80%;
	margin: auto;
}

#contact	{
	height: 100%;
	width: 80%;
	margin: auto;
}

#opportunities	{
	height: 100%;
	width: 80%;
	margin: auto;
}

#logo 		{
	width: 90%;
	margin-top: 2em;
	margin-left: -1em;
}

h4 			{
	text-align: center;
	margin: auto;
	width: 100%;
}

.btn-block 		{
	background-color: black;

}


.seekersH		{
	text-align: center;
}


.revolutionH	{
	text-align: center;
}

.seekersH		{
	text-align: center;
}

.companiesH		{
	text-align: center;
}

.contactH		{
	text-align: center;
}

.opportunitiesH		{
	text-align: center;
}

.jumbotron		{
	background-color: #d3d3d3;
}

.jumbotron-special 		{
	background-color: white;
	color: black;
}

.slide 		{
	background-color: #333;
	color: white;
	text-align: center;
	margin: auto;
	max-width: 100%;
	height: auto;
	padding: 50px;
}

h3, h2, h6			{
	text-align: center;
}

#flashy 		{
	max-width: 100%;
	height: auto;
	color: red;
	background-color: black;
	font-size: 2em;
	padding: 5px 15px 5px 15px;
}

#red		{
	color: red;
}

hr 			{
	border: 1px solid black;
}
.btn-info	{
	background-color: white;
	color: black;
	width: 100%;
	text-align: center;
}

.text {
	font-size: 3vw;
}


#aboutJumbo {
	text-align: left;
	width: 100%;
	background-color: #333;
	color: white;
	letter-spacing: 0.5em;
	background-color: #b20000;
	font-size: 1em;
	padding-left: 14%;
}

#aboutContent{
	height: 100%;
	width: 70%;
	margin: auto;
	letter-spacing: 0.08em;
}

#aboutContent p {
	font-size: 1em;
}

#dark {
	background-color: #d3d3d3;
}

h1, h2, h3{
	font-size: 1.5em;
}

h6 {
	font-size: 1em;
}

.imgB  {
	max-width: 100%;
	height: auto;
	border: 2px solid black;
	border-radius: 100%;
}

.modal-header{
	background-color: #333;
	color: white;
}

.aboutbtn {
	background-color: #b20000;
	color: white;
	padding: 0.6em;
	border-radius: 5px;
}

.modal-footer {
	text-align: center;
}

#navPic {
	width: 25px;
}

.panel-default .panel-heading {
	background-color: #333;
	color: white;
}

#panelHeading {
	padding-bottom: 2em;
}

#agreement {
	text-align: justify;
}

#aboutContent .panel-body {
	height: 100%;
}